.example-form-field {
  width: 200px;
  display: grid;
  margin-left: 400px;

}

.submited {
  margin-bottom: 20px;
}

table, th, td {
  border:1px solid black;
}


 .form-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 24px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      background: #fff;
    }

    h2 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 24px;
    }

    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }

    button {
      width: 100%;
      padding: 12px;
    }