.main-container {
    /* max-width: 600px; */
    height: auto;
    padding: 30px;
}

.details-container {
      /* max-width: 500px;
      margin: 50px auto;
      text-align: left; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .delete-icon {
        display: flex;
        justify-self: end;
    }


    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
    }

    mat-card {
      padding: 20px;
      border-radius: 12px;
      background: #fafafa;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    mat-card p {
      font-size: 16px;
      margin: 10px 0;
      display: flex;
      align-items: center;
    }

    mat-icon {
      margin-right: 8px;
      color: #3f51b5;
    }


    .register-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.register-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 30px;
  text-transform: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.register-btn:hover {
  background-color: #ffb74d !important; /* lighter accent color on hover */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}